html, body {
    margin: 0 auto;
}

html *,
body * {
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

html {
    height: 100dvh;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100%;
}

#main {
    position: relative;
    overflow: hidden;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    --bg-size: 60px;
}

#main .cm-background-anim {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% + var(--bg-size));
    height: 100%;
    background: #F4F3F1;
    background: linear-gradient(12deg, rgba(244, 243, 241, 1) 0%, #4e6e26 100%);
    background-position: 0 0;
}